* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: url('https://telegra.ph/file/6fb55fc276c0213732d2c.jpg') no-repeat center center fixed;
  background-size: cover;
  color: blue;
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.preview-image {
  width: 98%;
  max-width: 800px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.description {
  color: white;
  font-size: 1.3em;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description img.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.description p {
  margin: 2px 0;
}

.description.button {
  border: none;
  width: 200px;
  height: auto;
  background-image: url('https://graph.org/file/0197d91df205e66e987a6.jpg');
  background-size: 100% 100%;
  cursor: pointer;
}

.description.button:hover {
  transform: scale(1.05);
}

.description.button:active {
  transform: scale(0.95);
}

.description.button-link {
  text-decoration: none;
  color: white;
}

.description p + p {
  margin-top: 10px;
}

.scroll-container {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  width: 100%;
  max-width: 800px;
  padding: 40px 0;
  gap: 10px;
}

.scroll-container img {
  width: 299px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s;
}

.scroll-container img:hover {
  transform: scale(1.06);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 800px;
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: white;
}

.footer.author {
  display: flex;
  align-items: center;
}

.footer.author img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.recommended {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.image-link {
  width: 30%;
  max-width: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.image-link img {
  width: 100%;
  display: block;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.back-button:hover {
  background-color: #0056b3;
}

.language-switcher {
  display: flex;
  gap: 10px;
}

.language-link {
  color: white;
  text-decoration: none;
}

.share-buttons {
  display: flex;
  gap: 10px;
}

.share-button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.share-button:hover {
  background-color: #0056b3;
}

/* Media Queries for Responsive Design */
@media (max-width: 1024px) {
 .description.button {
    top: 10px;
    width: 180px;
  }
}

@media (max-width: 768px) {
 .description.button {
    top: 10px;
    width: 150px;
  }
}

@media (max-width: 480px) {
 .description.button {
    top: 10px;
    width: 120px;
  }
}

@media (max-width: 320px) {
 .description.button {
    top: 10px;
    width: 100px;
  }
}